body {
    align-items:center;
    background: linear-gradient(320deg, #92e5eb, #c77ba1);
    display: flex;
    font-family: sans-serif;
    font-display: swap;
    justify-content: center;
}


.wrapper {
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 20px 35px;
}

.screen {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calculator-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calculator-button {
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calculator-button:last-child{
    background: #907ef3;
}


.calculator-button:active{
    background-color: #232024;
}

.clear{
    flex-basis: 47%;
}

.zero{
    flex-basis: 73%;
}